.title {
    color: rgb(102, 104, 104);
    font-size: 30px;
}

body {
    background-color: rgb(49, 49, 49);
    font-family:Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: auto;
}

.post {
    background-color: rgb(102, 104, 104);
    padding: 15px; /*espaçamento entre bordas e o conteúdo, a diferença para as margens
     é que declarações de imagem de fundo funcionam nele;*/
    border: 1px solid;
    margin: 15px; /*espaçamento entre elementos*/
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.post_image {
    margin-bottom: 15px;
    width: 100%;
}

.footer_list {
    list-style-type:none;
    padding-left: 15px;
}

.footer_list li a {
    text-decoration: none;
    color: chartreuse;
}