.title {
    color: rgb(102, 104, 104);
    font-size: 30px;
}

body {
    background-color: rgb(49, 49, 49);
}

.post {
    background-color: rgb(102, 104, 104);
    padding: 15px;
    border: 1px solid;
    margin: 15px; /*espaçamento entre elementos*/
}